<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/Public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Public/css/admin/admin.css">
</head>
<body>
    <header class="clearfix">
        <div class="logo">
            <a href="/admin.php/">
                <img src="__PUBLIC__/images/admin/logo.png" alt=" 华泰一媒">
                <span>微信后台管理</span>
            </a>
        </div>
        <div class="user">
            <span>欢迎您,</span>
            <span class="name">{$user.user}</span>
            <span class="uid">( ID: {$user.uid} )</span>
            <a href="{:U('User/logout')}" class="logout">[注销]</a>
        </div>
    </header>

    <div class="content clearfix">
        <ul id="menu" class="pull-left list-unstyled">
            <li <eq name="menu.main" value="0">class="active"</eq> >
                <a href="/admin.php" class="arrow">概览信息</a>
            </li>

            <!-- 微信管理 -->
            <li <eq name="menu.main" value="1">class="active"</eq> >
                <a href="{:U('Wechat/index')}" class="arrow">微信管理</a>
            </li>
            <ul class="sub-menu list-unstyled">
                <li <eq name="menu.sub" value="0">class="active"</eq> >
                    <a href="{:U('Wechat/basic')}">基础配置</a>
                </li>
                <li <eq name="menu.sub" value="1">class="active"</eq> >
                    <a href="{:U('Wechat/menu')}">菜单设置</a>
                </li>
                <li <eq name="menu.sub" value="2">class="active"</eq> >
                    <a href="{:U('Wechat/reply')}">回复管理</a>
                </li>
            </ul>

            <!-- 招聘信息 -->
            <li <eq name="menu.main" value="2">class="active"</eq> >
                <a href="{:U('Employ/index')}" class="arrow">招聘信息</a>
            </li>
            <ul class="sub-menu list-unstyled">
                <li <eq name="menu.sub" value="0">class="active"</eq> >
                    <a href="{:U('Employ/company')}">公司管理</a>
                </li>
                <li <eq name="menu.sub" value="1">class="active"</eq> >
                    <a href="{:U('Employ/job')}">职位管理</a>
                </li>
                <li <eq name="menu.sub" value="2">class="active"</eq> >
                    <a href="{:U('Employ/user')}">用户管理</a>
                </li>
                <li <eq name="menu.sub" value="3">class="active"</eq> >
                    <a href="{:U('Employ/enroll')}">报名管理</a>
                </li>
            </ul>

            <!-- 素材管理 -->
            <li <eq name="menu.main" value="3">class="active"</eq> >
            <a href="{:U('Material/index')}" class="arrow">素材管理</a>
            </li>
            <ul class="sub-menu list-unstyled">
                <li <eq name="menu.sub" value="0">class="active"</eq> >
                    <a href="{:U('Material/article')}">文章管理</a>
                </li>
                <li <eq name="menu.sub" value="1">class="active"</eq> >
                    <a href="{:U('Material/collect')}">推文列表</a>
                </li>
            </ul>
        </ul>

        <div id="body">
            <div class="path">
                <span>当前位置: </span>
                <span class="main"></span>
                <span class="sub"></span>
                <a href="/admin.php">首页</a>
            </div>

            <div class="config">

                {__CONTENT__}

            </div>
        </div>
    </div>

    <footer class="container">华泰一媒 版权所有 © 2013-2016</footer>

    <!-- jQuery文件 -->
    <script src="/Public/js/lib/jquery.min.js"></script>
    <script src="/Public/js/lib/bootstrap-tab.min.js"></script>
    <script src="/Public/js/lib/jquery.form.min.js"></script>
    <script src="/Public/js/admin/admin.js"></script>
    <notempty name="controller">
        <script src="/Public/js/admin/{$controller}.js"></script>
    </notempty>
    <notempty name="action">
        <script src="/Public/js/admin/{$action}.js"></script>
    </notempty>
</body>
</html>