<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <title>{$title} - {$Think.config.WECHAT.NAME}后台管理</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <include file="Widget/style" />
</head>
<body class="row flex-column">
    <!-- 头部导航栏 -->
    <header class="top-nav row">
        <a href="{:U('index/index')}" class="logo">
            <img src="/Assets/images/logo.png" alt="Logo">
        </a>
        <h3 class="col title">{$title}</h3>
        <div class="user">
            <span>欢迎您,</span>
            <span class="name">{$Think.session.user.name}</span>
            <a href="{:U('User/logout')}" class="logout">[注销]</a>
        </div>
    </header>

    <main class="col row content-wrap">
        <!-- 侧边栏菜单 -->
        <include file="Widget/menu" />

        <!-- 侧边栏子菜单 -->
        <include file="Widget/menu.sub" />

        <div class="col content">

            {__CONTENT__}

        </div>
    </main>

    <!--<footer class="container">华泰一媒 版权所有 © 2013-2016</footer>-->

    <script src="/Assets/js/lib/vue.js"></script>
    <!--<script src="/Assets/js/lib/vue.min.js"></script>-->
    <script src="/Assets/js/lib/vue-resource.min.js"></script>
    <notempty name="load_script">
        <foreach name="load_script" item="script">
            <script src="{$script}"></script>
        </foreach>
    </notempty>
</body>
</html>