<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <title>Network connection error</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <style rel="stylesheet" type="text/css">
        html,body,main{margin:0;padding:0;height:100%;width:100%;box-sizing:border-box;}
        main{display:-webkit-flex;display:flex;flex-direction:column;justify-content:center;align-items:center;padding:20px 0;background-color:#F7F6F2;color:#607C89;}
        h2{font-size:3rem;font-weight:700;margin:10px auto 30px;}
        p{font-size:1.125rem;color:#95A1A7;}
    </style>
</head>
<body><main><h2>网络连接故障</h2><p>请稍后重新打开网页</p></main> </body>
</html>